body {
    background-color: #000000;
    color: #ffffff;
    width: 1200px;
    margin: auto;
    font-family: sans-serif;
}

.error-container {
    background-color: hsla(356, 77%, 59%, 0.747);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

a {
    color: wheat;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
}